# Object directory
/obj/

# Visual Studio Code settings
.vscode/

# Temporary and backup files
*~
*.swp
*.tmp

# Word files
*.docx

# Minesweeper executable
minesweeper

# Link to the executable
saper